# IntelliJ
out
target/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/misc.xml

.idea/**/uiDesigner.xml

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
.gradle
/build/