# IntelliJ
out
target/

# User-specific stuff:
.idea/

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp

# Gradle:
.gradle/
build/

# Latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.pdf