body {
    background-color: white;
    font-family: "AndrewScript_1.6";
}
#first{
  display: block;
}
#second{
  display: none;
}
#third{
  display: none;
}
#description{
  display: none;
}
.logo{
  margin: 0px auto;
  display: block;
  width: 50%;
  padding:6%;
 
}

.subtit {
    font-size: 200%;
    text-align: center;
    margin-top: 1%;

}

.subtit2 {
    font-size: 200%;
    text-align: center;
    margin-top: 6%;

}
h1{
  text-align: center;
}
p{
  display: inline;
}
.save{
  font-family: "AndrewScript_1.6";
  background-color: white;
  font-size: 90%;
  margin: 0px auto;
  display: block;
  margin-top: 2%;
  padding: 0.5%;
  width: 250px;
  border-radius: 5px 5px 5px 5px
}
.back{
  font-family: "AndrewScript_1.6";
  background-color: white;
  font-size: 90%;
  margin: 3%;
  padding: 0.5%;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  border-radius: 5px 5px 5px 5px
}
#insertCode{
  font-family: "AndrewScript_1.6";
  background-color: white;
  font-size: 90%;
  margin: 0px auto;
  display: block;
  margin-top: 2%;
  padding: 0.5%;
  width: 250px;
  border-radius: 5px 5px 5px 5px;
}
.button{
  font-family: "AndrewScript_1.6";
  background-color: white;
  font-size: 90%;
  margin: 0px auto;
  display: block;
  margin-top: 2%;
  padding: 0.5%;
  width: 250px;
  border-radius: 5px 5px 5px 5px;
}
.location{
  font-size: 70%;
  font-family: "AndrewScript_1.6";
  text-align: center;
  margin: 0px auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 1%;
  padding: 0.8%;
  width: 250px;
  border: solid;
  border-color: aqua;
  border-width: 5px;
  border-radius: 5px 5px 5px 5px;
}
.descButton{
  text-align: center;
}

.button1 {
    font-size: 90%;
    font-family: "AndrewScript_1.6";
    background-color: white;
    margin-top: 2%;
    padding: 0.5%;
    width: 125px;
    border-radius: 5px 5px 5px 5px;
}

