@import url('https://fonts.googleapis.com/css?family=Chewy|Indie+Flower|Pangolin|Permanent+Marker|Sedgwick+Ave');

// Font Variables
$chewy: Chewy;
$indie_flower: Indie Flower;
$pangolin: Pangolin;
$permanent_marker: Permanent Marker;

/*------------Generic CSS-------------*/

body {
    background-color: white;
    font-family: $chewy;
}

h1 {
    text-align: center;
}

p {
    display: inline;
}

.generic-subtitle {
    font-size: 200%;
    text-align: center;
}

.subtitle1 {
    @extend .generic-subtitle;
    margin-top: 1%;
}

.subtitle2 {
    @extend .generic-subtitle;
    margin-top: 6%;
}

.logo {
    margin: 30% auto 10%;
    display: block;
    width: 50%;
    padding: 6%;
}

.buttonContainer {
    font-size: 80%;
    text-align: center;
}

.halfButton button {
    width: 125px;
}

button {
    font: 200% $chewy;
    background-color: white;
    margin: 2% auto;
    display: inline-block;
    padding: 0.5%;
    width: 250px;
    border-radius: 5px;
    text-align: center;
}

label {
    font: 85% $chewy;
}

.textInput {
    margin: 2%;
    padding: 5px;
    height: 25px;
    text-align: center;
    font-size: 90%;
    border-radius: 5px;
}

/*-------------Gestione Visibilità Pagine--------------*/

#insertCodePage {
    display: block;
}

#mapPage {
    display: none;
}

#insertCodeManuallyPage {
    display: none;
}

#currentTreasureHunt {
    display: none;
}

/*--------1st Page: notLoggedUser-----------*/

.notLoggedUserPage {
    background-image: url("../img/backgroundRainbow.jpg");
    background-position: bottom center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    text-align: center;
}

/*---------2nd Page: CreateNewTeam or Login---------*/

#createTeam, #loginTeam {
    display: none;
    width: 290px;
    margin: auto;
    text-align: center;
}

.loginInput {
    width: 250px;
}

/*----------------3rd Page: Insert Code Page-------------------*/

#insertCodePage {
    margin-top: 30%;
}

.location {
    font-size: 70%;
    text-align: center;
    margin: 2% auto;
    display: block;
    padding: 1%;
    width: 250px;
    border: 5px solid aqua;
    border-radius: 5px;
}

#currentTreasureHunt {
    margin-top: 5%;
}

/*-------------------4th Page: Insert Code Manually------------------------*/

#insertCodeInput {
    display: block;
    width: 250px;
    margin: 2% auto;
}

/*--------------------------5th Page: Map Page------------------------*/

.reset-page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.map-page, .map-page-map {
    @extend .reset-page;
}

.map-page-menu {
    position: fixed;
    bottom: 9%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
}

.map-page-menu-button-container {
    flex: 0 0 50%;
    box-sizing: border-box;
    margin: 10px 0;
}

.map-page-menu-button-container span {
    display: block;
    width: 60%;
    padding: 10px 20px;
    border: 2px solid skyblue;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 80%;
}

.map-page-title {
    position: absolute;
    top: 3%;
    margin-left: 22%;
    width: 56%;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    word-wrap: break-word;
}

#map-page-clue, #map-page-quiz {
    display: none;
    position: absolute;
    top: 25%;
    margin-left: 22%;
    padding: 5px;
    width: 56%;
    border: solid 2px black;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.left-button span {
    text-align: right;
    border-radius: 0 5px 5px 0;
    margin-left: 0;
    border-left: none;
}

.right-button span {
    border-radius: 5px 0 0 5px;
    text-align: left;
    border-right: none;
    margin-left: calc(40% - 42px);
}

#close-clue-button, #close-quiz-button {
    display: none;
}

#map-page-clue p, #map-page-quiz p {
    padding: 15px;
}

.clue-quiz-button {
    position: relative;
    bottom: 10%;
    left: 100%;
    margin: 10px 0px 10px -80px;
    background-color: #efefef;
    width: 60px;
    padding: 10px;
}

.insert {
    margin-top: 10px;
}

#map-page-clue h1, #map-page-quiz h1 {
    margin: 25px auto 10px;
    text-align: center;
    font-size: 32px;
}

.quizInput {
    width: 80%;
    margin-left: 9%;
    font-size: 20px;
}

#googleMap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map-page-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 20;
}

.progressBar {
    width: 10px;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    background-color: gray;
    overflow: hidden;
    border-radius: 5px;
}

.progressBarContent {
    position: relative;
    top: -20%;
    background-color: skyblue;
    border-radius: 5px;
}

.progressPercent {
    font-size: 100px;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;

}

.outOfProgress {
    font-size: 50px;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 41%;
}

.closeProgress {
    position: absolute;
    top: 30px;
    right: 34px;
    color: white;
    font-size: 35px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

/*-------Footer-----*/

#userInfo {
    color: white;
    background-color: #444444;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 15;
    padding: 2%;
    text-align: center;
}