/*** DIRECTORY PATHS ***/
$font-path: "../../font/";
$img-path: "../../img/";

/*** IMAGES ***/
$img-backgroundRainbow: "backgroundRainbow.jpg";

/*** FONT ***/
$andrew-font-fileName: "Andrew";
$andrew-font-family: AndrewScript;

/*** COLORS ***/
$color-white: #fff;
$color-gray: gray;

/*** CUSTOM VARIABLES ***/
$defaultPadding: 3% 1% 1%;

